google-api-core==2.24.2
google-auth==2.38.0
google-cloud-aiplatform==1.81.0
google-cloud-audit-log==0.3.1
google-cloud-core==2.4.3
google-cloud-logging==3.11.4
google-cloud-storage==2.19.0
google-cloud-trace==1.16.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.44
langchain-google-vertexai==2.0.15
langchain-openai==0.3.8
langchain-text-splitters==0.3.6
langgraph==0.2.76
langgraph-checkpoint==2.0.19
langgraph-sdk==0.1.56
langsmith==0.3.13
marshmallow==3.26.1
openai==1.66.3
opentelemetry-api==1.31.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
regex==2024.11.6
requests==2.32.3
streamlit
streamlit-extras
streamlit_feedback
extra-streamlit-components
tqdm==4.67.1
